{
  "presets": [
    [
      "@babel/env"
    ]
  ],
  "env": {
    "rollup": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
